In [2]:
#Importamos las librerias Pandas y Numpy que nos permtiran hacer las transformaciones a los datasets.
import pandas as pd
import numpy as np

In [66]:
#procedemos a cargar los 4 datasets de las 4 Plataformas Streaming
amazon_prime = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/amazon_prime_titles.csv')

In [68]:
disney_plus = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/disney_plus_titles.csv')

In [69]:
hulu_titlles = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/hulu_titles.csv')

In [70]:
netflix_titles = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/netflix_titles.csv')

In [71]:
#vamos observando las primeras variables de los datasets de las primeras filas y columnas uno a uno.
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [72]:
disney_plus.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [75]:
hulu_titlles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,s2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,s3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,s4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,s5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [76]:
netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [77]:
#observamos el numero de filas y columnas en cada Dataset.
amazon_prime.shape

(9668, 12)

In [78]:
disney_plus.shape

(1450, 12)

In [79]:
hulu_titlles.shape

(3073, 12)

In [80]:
netflix_titles.shape

(8807, 12)

In [81]:
#procedemos a hacer las "Trasformaciones' necesarias para poder usar los datasets y nos den la informacion mas 
#optima en nuestros postrerior analisis de los datos.

In [82]:
#Generamos el cambio en id para cada plataforma agregando la primera letra del nombre de la plataforma
amazon_prime["show_id"] = amazon_prime["show_id"].apply(lambda x: "a" + x)
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [83]:
disney_plus["show_id"] = disney_plus["show_id"].apply(lambda x: "d" + x)
disney_plus.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ds1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,ds2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,ds3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,ds4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,ds5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...

In [84]:
hulu_titlles["show_id"] = hulu_titlles["show_id"].apply(lambda x: "h" + x)
hulu_titlles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,"October 24, 2021",2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,hs2,Movie,Silent Night,NaN,NaN,NaN,"October 23, 2021",2020,NaN,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,hs3,Movie,The Marksman,NaN,NaN,NaN,"October 23, 2021",2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,hs4,Movie,Gaia,NaN,NaN,NaN,"October 22, 2021",2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,hs5,Movie,Settlers,NaN,NaN,NaN,"October 22, 2021",2021,NaN,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [85]:
netflix_titles["show_id"] = netflix_titles["show_id"].apply(lambda x: "n" + x)
netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,ns2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,ns3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,ns4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,ns5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [86]:
# Cambiamos los valores nulos por una 'G' en en la variable 'rating' todos los datasets
amazon_prime['rating'].fillna('G', inplace=True)
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,"March 30, 2021",2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [87]:
disney_plus['rating'].fillna('G', inplace=True)

In [88]:
hulu_titlles['rating'].fillna('G', inplace=True)

In [89]:
netflix_titles['rating'].fillna('G', inplace=True)

In [90]:
# hacemos una verificacion de que todos los nulos de la columna "rating" han sido cambiados.
amazon_prime['rating'].isna().count()

9668

In [91]:
netflix_titles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,ns1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,ns2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,ns3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,ns4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,ns5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [92]:
#cambiamos el formato de la fecha AA-mm-dd en todos los Datasets
amazon_prime['date_added'] = pd.to_datetime(amazon_prime['date_added'], format='%B %d, %Y').dt.strftime('%Y-%m-%d')

In [93]:
#Verificamos el cambio de fecha
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,G,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,as2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,as3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,G,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,as4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyoncé, Britney...",United States,2021-03-30,2014,G,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,as5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,G,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

In [94]:
disney_plus['date_added'] = pd.to_datetime(disney_plus['date_added'], format='%B %d, %Y').dt.strftime('%Y-%m-%d')

In [95]:
hulu_titlles['date_added'] = pd.to_datetime(hulu_titlles['date_added'], format='%B %d, %Y').dt.strftime('%Y-%m-%d')

In [96]:
hulu_titlles.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,hs1,Movie,Ricky Velez: Here's Everything,NaN,NaN,NaN,2021-10-24,2021,TV-MA,NaN,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,hs2,Movie,Silent Night,NaN,NaN,NaN,2021-10-23,2020,G,94 min,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,hs3,Movie,The Marksman,NaN,NaN,NaN,2021-10-23,2021,PG-13,108 min,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,hs4,Movie,Gaia,NaN,NaN,NaN,2021-10-22,2021,R,97 min,Horror,A forest ranger and two survivalists with a cu...
4,hs5,Movie,Settlers,NaN,NaN,NaN,2021-10-22,2021,G,104 min,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...

In [97]:
netflix_titles['date_added'] = netflix_titles['date_added'].str.strip()
netflix_titles['date_added'] = pd.to_datetime(netflix_titles['date_added'], format='%B %d, %Y').dt.strftime('%Y-%m-%d')

In [99]:
#cambiamos todos los campos  a  letras "minusculas" en todos los datasets
amazon_prime = amazon_prime.applymap(lambda x: str(x).lower() if type(x) == str else x)

In [101]:
#verificamos los cambios
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ..."
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...

In [102]:
disney_plus = disney_plus.applymap(lambda x: str(x).lower() if type(x) == str else x)

In [103]:
hulu_titlles = hulu_titlles.applymap(lambda x: str(x).lower() if type(x) == str else x)

In [104]:
netflix_titles = netflix_titles.applymap(lambda x: str(x).lower() if type(x) == str else x)

In [107]:
#Covertimos el campo "duration en dos campos para todos los datasets.
amazon_prime['duration'] = amazon_prime['duration'].str.replace('seasons', 'season')

In [108]:
#Verificamos el cambio
amazon_prime.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45,min

In [109]:
amazon_prime[['duration_int','duration_type']] = amazon_prime['duration'].str.split(n=1,expand=True)
amazon_prime['duration_int'] = amazon_prime['duration_int'].astype(int)

In [110]:
disney_plus['duration'] = disney_plus['duration'].str.replace('seasons', 'season')
disney_plus[['duration_int','duration_type']] = disney_plus['duration'].str.split(n=1,expand=True)
disney_plus['duration_int'] = disney_plus['duration_int'].astype(int)

In [111]:
hulu_titlles['duration'] = hulu_titlles['duration'].str.replace('seasons', 'season')
hulu_titlles['duration'].fillna("0 min", inplace=True)

In [112]:
netflix_titles['duration'] = netflix_titles['duration'].str.replace('seasons', 'season')
netflix_titles['duration'].fillna("0 min", inplace=True)
netflix_titles[['duration_int','duration_type']] = netflix_titles['duration'].str.split(n=1,expand=True)
netflix_titles['duration_int'] = netflix_titles['duration_int'].astype(int)

In [113]:
#Guardo todas las "transformaciones"  en los datasets
amazon_prime.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/amazon_prime_titles.csv',index=False)

In [114]:
disney_plus.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/disney_plus_titles.csv',index=False)

In [115]:
hulu_titlles.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/hulu_titles.csv',index=False)

In [116]:
netflix_titles.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/netflix_titles.csv',index=False)

In [117]:
#Ahora procedemos a hacer la concatenación de los 4 datasets
dataset_final = pd.concat([amazon_prime, disney_plus, hulu_titlles, netflix_titles], axis=0)
dataset_final.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113.0,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69.0,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min

In [118]:
#Guardamos el dataset final
dataset_final.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_all.csv',index=False)

In [119]:
dataset_final.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113.0,min
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69.0,min
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min

In [120]:
dataset_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22998 entries, 0 to 8806
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   show_id        22998 non-null  object
 1   type           22998 non-null  object
 2   title          22998 non-null  object
 3   director       14739 non-null  object
 4   cast           17677 non-null  object
 5   country        11499 non-null  object
 6   date_added     13444 non-null  object
 7   release_year   22998 non-null  int64
 8   rating         22998 non-null  object
 9   duration       22998 non-null  object
 10  listed_in      22998 non-null  object
 11  description    22994 non-null  object
 12  duration_int   19925 non-null  float64
 13  duration_type  19925 non-null  object
dtypes: float64(1), int64(1), object(12)
memory usage: 2.6+ MB

In [ ]:
#Transformaciones a las tablas de los "ratings"

In [22]:
#Cargamos los 8 datasets para exploralos.
Ratings1 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/1.csv')
Ratings2 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/2.csv')
Ratings3 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/3.csv')
Ratings4 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/4.csv')
Ratings5 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/5.csv')
Ratings6 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/6.csv')
Ratings7 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/7.csv')
Ratings8 = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings/8.csv')

In [23]:
Ratings1.head()

   userId  rating   timestamp movieId
0       1     1.0  1425941529   as680
1       1     4.5  1425942435  ns2186
2       1     5.0  1425941523  hs2381
3       1     5.0  1425941546  ns3663
4       1     5.0  1425941556  as9500

In [25]:
#procedemos a la concatenacion de los 8 datasets para trabajar con uno solo.
Ratings_final = pd.concat([Ratings1,Ratings2,Ratings3,Ratings4,Ratings5,Ratings6,Ratings7,Ratings8], axis=0)
Ratings_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11024289 entries, 0 to 1499999
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   rating     float64
 2   timestamp  int64
 3   movieId    object
dtypes: float64(1), int64(2), object(1)
memory usage: 420.5+ MB

In [30]:
#Procedemos a guardar nuestro nuevo Datasets de 11 millones de entradas
Ratings_final.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings_all.csv',index=False)

In [5]:
# Cargamos nuestro nuevo dataset_final
Ratings_final = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratings_all.csv')

In [21]:
Ratings_final['timestamp'] = pd.to_datetime(Ratings_final['timestamp'],unit ='s').dt.strftime('%Y-%m-%d')

In [28]:
#Procedemos a hacer el cambio de fecha 
Ratings_final['timestamp'] = pd.to_datetime(Ratings_final['timestamp'], unit='s').dt.date

In [6]:
#Verificamos el cambio de Fecha
Ratings_final.head()

   userId  rating   timestamp movieId
0       1     1.0  2015-03-09   as680
1       1     4.5  2015-03-09  ns2186
2       1     5.0  2015-03-09  hs2381
3       1     5.0  2015-03-09  ns3663
4       1     5.0  2015-03-09  as9500

In [7]:
#Ahora agrupamos los rating por usuario y despues obtenemos los promedios de cada uno acerca de cada peliculas.
averanges_rating = Ratings_final.groupby(['movieId']).mean().round(3)

C:\Users\berna\AppData\Local\Temp\ipykernel_10924\3722397997.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  averanges_rating = Ratings_final.groupby(['movieId']).mean().round(3)

In [8]:
averanges_rating.head()

            userId  rating
movieId
as1      99178.624   3.467
as10     92915.883   3.440
as100    83483.263   3.609
as1000   90606.198   3.557
as1001   92349.085   3.585

In [1]:
# Guardamos nuestro nuevo dataset_final con el promedio de Ratings por pelicula
averanges_rating.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratingsnew_all.csv')

NameError: name 'averanges_rating' is not defined

In [3]:
# Cargamos nuestro nuevo dataset_final con el promedio de Ratings por pelicula
averanges_rating =pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratingsnew_all.csv')

In [4]:
#verificamos cambios
averanges_rating.head(10)

   Unnamed: 0 show_id     userId  score
0           0     as1  99178.624  3.467
1           1    as10  92915.883  3.440
2           2   as100  83483.263  3.609
3           3  as1000  90606.198  3.557
4           4  as1001  92349.085  3.585
5           5  as1002  86174.651  3.600
6           6  as1003  90215.867  3.510
7           7  as1004  89767.384  3.484
8           8  as1005  98762.477  3.577
9           9  as1006  88692.172  3.478

In [ ]:
#procedemos a Cambiar el nombre de  columna Rating por Score, para despues poder fusionar las tablas

In [13]:
averanges_rating=averanges_rating.rename({'rating':'score'},axis=1)

In [14]:
averanges_rating.head()

  movieId     userId  score
0     as1  99178.624  3.467
1    as10  92915.883  3.440
2   as100  83483.263  3.609
3  as1000  90606.198  3.557
4  as1001  92349.085  3.585

In [15]:
#Cambiamos el nombre del del id por show_id para posteriomente hgacer un merge con el dataset de platafomas.
averanges_rating=averanges_rating.rename({'movieId':'show_id'},axis=1)

In [22]:
#Verificamos el cambio
averanges_rating.head()

   Unnamed: 0 show_id     userId  score
0           0     as1  99178.624  3.467
1           1    as10  92915.883  3.440
2           2   as100  83483.263  3.609
3           3  as1000  90606.198  3.557
4           4  as1001  92349.085  3.585

In [17]:
averanges_rating.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratingsnew_all.csv')

In [8]:
#Cargamos los dos datasets para hacer un merge
averanges_rating = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/ratingsnew_all.csv')
dataset_final = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_all.csv')

In [33]:
dataset_final.head(0)

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, duration_int, duration_type]
Index: []

In [11]:
averanges_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  22998 non-null  int64
 1   show_id     22998 non-null  object
 2   userId      22998 non-null  float64
 3   score       22998 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 718.8+ KB

In [9]:
#A continuacion procedemos a hacer la union del detaset de las Plataformas con el de Score.
df_plataforms = pd.merge(dataset_final,averanges_rating, on ='show_id')

In [10]:
df_plataforms.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type,Unnamed: 0,userId,score
0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113.0,min,0,99178.624,3.467
1,as2,movie,take care good night,girish joshi,"mahesh manjrekar, abhay mahajan, sachin khedekar",india,2021-03-30,2018,13+,110 min,"drama, international",a metro family decides to fight a cyber crimin...,110.0,min,1111,93837.477,3.549
2,as3,movie,secrets of deception,josh webber,"tom sizemore, lorenzo lamas, robert lasardo, r...",united states,2021-03-30,2017,g,74 min,"action, drama, suspense",after a man discovers his wife is cheating on ...,74.0,min,2222,84095.315,3.500
3,as4,movie,pink: staying true,sonia anderson,"interviews with: pink, adele, beyoncé, britney...",united states,2021-03-30,2014,g,69 min,documentary,"pink breaks the mold once again, bringing her ...",69.0,min,3333,88177.389,3.538
4,as5,movie,monster maker,giles foster,"harry dean stanton, kieran o'brien, george cos...",united kingdom,2021-03-30,1989,g,45 min,"drama, fantasy",teenage matt banting wants to work with a famo...,45.0,min,4444,83381.166,3.479

In [12]:

df_plataforms = df_plataforms.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_final.csv')

In [13]:
df_plataforms = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_final.csv')

In [4]:
df_plataforms.head(1)

,Unnamed: 0.1,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_int,duration_type,Unnamed: 0,userId,score
0,0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113.0,min,0,99178.624,3.467

In [ ]:
#Copn clusion: Ya tenemos nuestros Datasets listos para hacer las consultas, el analisis EDA y el modelo predictivo sobre 
#las 4 plataformas de Streaming.

In [14]:
#Renombramos algunas columnas como id_show , release_year y score para hacer mas faciles las consultas
df_plataformas_final = df_plataforms.rename({'show_id':'plataform','release_year':'year','score':'scored'},axis=1)

In [15]:
df_plataformas_final = df_plataformas_final.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_final.csv')

In [16]:
df_plataformas_final = pd.read_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_final.csv')

In [17]:
df_plataformas_final.head(1)

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,plataform,type,title,director,cast,country,date_added,year,rating,duration,listed_in,description,duration_int,duration_type,Unnamed: 0,userId,scored
0,0,0,0,as1,movie,the grand seduction,don mckellar,"brendan gleeson, taylor kitsch, gordon pinsent",canada,2021-03-30,2014,g,113 min,"comedy, drama",a small fishing village must procure a local d...,113.0,min,0,99178.624,3.467

In [19]:
#procedemos a eliminar algunas columnas vacias que se generaron en el proceso
df_final =df_plataformas_final.drop(['Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1','Unnamed: 0'], axis=1)

In [24]:
df_plataformas_final= df_final.to_csv('C:/Users/berna/OneDrive/Desktop/MLops_service/MLOpsReviews/plataforms_final.csv')